#root {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #4f9d69aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #2c2c2c;
  padding: 2em;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.read-the-docs {
  color: #888;
}
